.competences-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 5rem;
  gap: 2rem ;
  font-family: sans-serif;
  color: #333;
  background-color: #f9fbfd;
}

.title-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #1e293b;
}

.skills-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #1e293b;
}

.left,
.right {
  flex: 1 1 45%;
}

.left h2,
.right h2 {
  color: #3b82f6;
  margin-bottom: 1rem;
}

.left ul {
  list-style: none;
  padding: 0;
}

.left li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
}

.left li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #3b82f6;
  font-weight: bold;
}

.skill-bar {
  margin-bottom: 1rem;
}

.skill-bar .label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.skill-bar .bar {
  background-color: #eee;
  border-radius: 4px;
  height: 12px;
  position: relative;
  overflow: hidden;
}

.skill-bar .fill {
  background-color: #3b82f6;
  height: 100%;
  border-radius: 4px 0 0 4px;
  transition: width 0.5s ease-in-out;
}
